<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CGMiner Rake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Temperature readings on a raspberry pi">
    <meta name="author" content="Jordan Marinov">

    <!-- Le styles -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/public/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/public/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/public/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">CGMiner Rake</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#config}}
                <li class="navbar-text"><small>(cgminer @ <strong>{{cg_host}}</strong> : <strong>{{cg_port}})</strong></small></li>
              {{/config}}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container row-fluid">

      <h1>Devices</h1>
      <div id="devices"></div>

    </div> <!-- /container -->

    <script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/highcharts.js"></script>
    <script type="text/javascript" src="/public/js/highcharts-more.js"></script>

    <script type="text/javascript">
      $(function () {

        var interval = 2000;

        setInterval(function() {
          $.get('devices.json', function(data) {
            
            $("#devices").html(JSON.stringify(data));

          });
        }, interval);

      });
    </script>

  </body>
</html>
